@model SurveyResourcesAPI.Models.SurveyResource

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SurveyResource</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveySource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveySource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyCoordinateSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyCoordinateSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AliasNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AliasNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryMuniId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryMuniId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveySiteGeneralAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveySiteGeneralAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublicLandholderInterest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublicLandholderInterest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoClerkFileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoClerkFileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoClerkBookNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoClerkBookNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoClerkPageNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoClerkPageNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevReviewNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevReviewNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosiUnitId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosiUnitId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GreenAcresSurveyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GreenAcresSurveyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherSurveyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherSurveyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OstfProjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OstfProjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrigSurveyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrigSurveyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaCreationDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaCreationDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasValidSurveyDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasValidSurveyDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasValidBaseSurvey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasValidBaseSurvey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasValidSurveyParcelsLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasValidSurveyParcelsLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasValidLandholderInterests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasValidLandholderInterests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseMapUpdateStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseMapUpdateStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoParcelSurvey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoParcelSurvey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cogoreport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cogoreport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEditor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEditor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEditDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEditDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestTimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewFilename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewFilename)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SurveyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
